{% extends 'base.html.twig' %}

{% block contenu %}
<h1>Bienvenue sur Prostages !</h1>
{% block titrePage %}
<h1>Liste des Formations </h1>
{% endblock %}

{% block contenuPage %}
<p>
  Cette page présente toutes les formations qui pourront trouver des offres correspondants à leur besoin.
</p>
  <div class="card-deck">
    <div class="card">

      <div class="card-body">

              <h5 class="card-title">DUT Informatique</h5>

        <p class="card-text">Description de la formation</p>

      </div>
    </div>
     <div class="card">

      <div class="card-body">

              <h5 class="card-title">DUT Gestion des Entreprises/Admin</h5>

        <p class="card-text">Description de la formation</p>

      </div>
    </div>
        <div class="card">

      <div class="card-body">

              <h5 class="card-title">BUT Génie Industriel et Maintenance</h5>

        <p class="card-text">Description de la formation</p>

      </div>
    </div>
      <div class="card">

      <div class="card-body">

              <h5 class="card-title">LP Gestion Salariale</h5>

        <p class="card-text">Description de la formation</p>

      </div>
    </div>
      <div class="card">

      <div class="card-body">

              <h5 class="card-title">LP Métiers du Numérique</h5>

        <p class="card-text">Description de la formation</p>

      </div>
    </div>
      <div class="card">

      <div class="card-body">

              <h5 class="card-title">LP Programmation avancée</h5>

        <p class="card-text">Description de la formation</p>

      </div>
    </div>
</div>
{% endblock %}

{% endblock %}

    {% block footer %}
                      <ul class="navbar-nav ml-md-auto">
                  <li class="nav-item active">
                    <a class="nav-link" href="#"><i class="icon-left"></i> Retour
                      <span class="sr-only">(current)</span></a>
                  </li>
                </ul>
  {% endblock %}
