{% extends 'base.html.twig' %}

{% block contenu %}
<h1>Bienvenue sur Prostages !</h1>
{% block titrePage %}
<h1>Liste des stages </h1>
{% endblock %}

{% block contenuPage %}
<p>
  Cette page présente toutes les propositions de stages susceptibles de vous être utiles durant votre formation à l'IUT.
Vous trouverez ci-dessous les dernières offres ajoutées sur Prostages.
</p>
  <div class="card-deck">
    <div class="card">

      <div class="card-body">
      <a href="{{path('pro_stages-stages',{id:5})}}">
              <h5 class="card-title">Stage en web</h5>
      </a>
        <p class="card-text">Description de l'offre...</p>
        <p class="card-text">
          <small class="text-muted">Date d'ajout : 11/10/2021</small>
        </p>
      </div>
    </div>
    <div class="card">

      <div class="card-body">
      <a href="{{path('pro_stages-stages',{id:5})}}">
              <h5 class="card-title">Stage en php</h5>
      </a>
        <p class="card-text">Description de l'offre...</p>
        <p class="card-text">
          <small class="text-muted">Date d'ajout : 09/10/2021</small>
        </p>
      </div>
    </div>
    <div class="card">

      <a href="{{path('pro_stages-stages',{id:5})}}">
              <h5 class="card-title">Stage en java</h5>
      </a>
        <p class="card-text">Description de l'offre...</p>
        <p class="card-text">
          <small class="text-muted">Date d'ajout : 27/10/2021</small>
        </p>
      </div>
    </div>
  </div>
{% endblock %}

{% endblock %}

    {% block footer %}
                      <ul class="navbar-nav ml-md-auto">
                  <li class="nav-item active">
                    <a class="nav-link" href="#"><i class="icon-left"></i> Retour
                      <span class="sr-only">(current)</span></a>
                  </li>
                </ul>
  {% endblock %}
