{% extends 'base.html.twig' %}

{% block titrePage %}
<h1> Nom du stage {{idRessource}}</h1>
{% endblock %}

{% block contenuPage %}
<p>
  Cette page affichera le descriptif de l'offre de stage numéro {{idRessource}}.
</p>